---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { getBlogPosts } from '@util/getBlogPosts';

export async function getStaticPaths() {
  return await getBlogPosts();
}

const { title, body } = Astro.props;
---
<Layout title="JK - "{ title }>
  <h1>{title}</h1>
  <p class='description'>{body}</p>
  <Card
    href="../"
    title="Back"
    body=""
  />
</Layout>

<style>
  h1 {
		font-size: 3rem;
		font-weight: 800;
		color: black;
		margin: 0;
	}
  .description {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--main), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
</style>