---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import type { BlogPost } from '@util/contentful';
import { contentfulClient } from '@util/contentful';

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString()
  };
});
---
<html lang="en">
  <head>
    <title>My Blog</title>
  </head>
  <body>
    <h1>My Blog</h1>
    <ul>
      {posts.map((post) => (
        <li>
          <a href={post.slug}>
            <h2>{post.title}</h2>
          </a>
          <time>{post.date}</time>
          <p>{post.description}</p>
        </li>
      ))}
    </ul>
  </body>
</html>

<!-- <Layout title="JK - Blog">
  <main>
    <form>
      <input type='text'>
      <input type='submit'>
    </form>
    <ul class='link-card-grid'>
      {allPosts.map((post) => (
        <Card
          href={post.params.slug || './'}
          title={post.props.title || 'Error: Title Not Found'}
          body={post.props.body || 'Error: Description Not Found'}
        />
      ))}
      <Card
        href="../"
        title="Back"
        body=""
      />
    </ul>
  </main>
</Layout>

<style>
  ul {
		list-style: none;
		padding-left: 0px;
	}
  .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 0.5rem;
	}
</style> -->