---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import { getBlogPosts } from '@util/getBlogPosts';

const allPosts = await getBlogPosts();
---
<Layout title="JK - Blog">
  <main>
    <form>
      <input type='text'>
      <input type='submit'>
    </form>
    <ul class='link-card-grid'>
      {allPosts.map((post) => (
        <Card
          href={post.params.slug || './'}
          title={post.props.title || 'Error: Title Not Found'}
          body={post.props.body || 'Error: Description Not Found'}
        />
      ))}
      <Card
        href="../"
        title="Back"
        body=""
      />
    </ul>
  </main>
</Layout>

<style>
  ul {
		list-style: none;
		padding-left: 0px;
	}
  .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 0.5rem;
	}
</style>