---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import { Image } from 'astro:assets';
import headshot from "../assets/Headshot.png";

---

<Layout title="Jeremy Kintana">
	<main>
		<div class="profile-flexbox">
			<Image
				id='profile-photo'
				src={headshot}
				alt='Headshot of a college student'
				width='190'
				height='190'
				format='png'
				quality={100}
			/>
			<div class="caption">
				<h1>Hi! I'm <span class="text-gradient">Jeremy Kintana</span>.</h1>
				<p>
					I'm an undergrad at the University of Wisconsin-Madison.
				</p>
			</div>
		</div>
		<div class="description">
			I'm the director of the <strong><a href="https://waisi.org" target="_blank">Wisconsin AI Safety Initiative</a></strong>. I'm currently interested in <strong><a href="https://www.safe.ai/ai-risk" target="_blank">reducing risks from advanced AI</a></strong>.
			<br/><br/>
			At the moment, I spend most of my time around the following:<br/>
			<ol>
				<li>
					Studying computer science
				</li>
				<li>
					Learning about <a href="https://www.safe.ai/ai-risk" target="_blank">AI safety</a> with my friends
				</li>
				<li>
					Writing short pieces, like <a href="https://jeremykintana.substack.com/p/bitrate-4b9" target="_blank">this sci-fi story</a> or <a href="https://jeremykintana.substack.com/p/the-opposite-of-loss" target="_blank">this reflective writing</a>
				</li>
				<li>
					Reading <a href="https://jeremykintana.substack.com/p/reading-list" target="_blank">whatever I feel like</a>
				</li>
				<li>
					Meditating, exercising
				</li>
			</ol>
		</div>
		<div class="description">
			Here's something fun: I have a 6-0 hackathon record!
			<ol>
				<li>
					<a href="https://www.linkedin.com/posts/jkintana_advancedaiexpo-activity-7299953001635487744-WM-n/" target="_blank">Capitol Hill Advanced AI Expo</a>, <b>Demo Presenter</b><br/>
					We built a tool that showcases two dangerous AI voice capabilities: 911 dispatch line flooding and congressional call automation. Our proposal made it through to the final round of competition, and we were invited out to Washington, D.C. to present our project to congressional staffers! Check out my writeup <a href="https://www.linkedin.com/posts/jkintana_advancedaiexpo-activity-7299953001635487744-WM-n/" target="_blank">here</a>, and CAIP's press release <a href="https://www.centeraipolicy.org/work/caip-showcases-advanced-ai-risks-to-congress-in-first-of-its-kind-tech-exhibition-on-capitol-hill" target="_blank">here</a>.
				</li>
				<br/>
				<li>
					<a href="https://www.spaceappschallenge.org/nasa-space-apps-2024/find-a-team/badgers-in-space/?tab=project" target="_blank">NASA SpaceApps Chicago 2024</a>, <b>Global Honorable Mention & Local Best Presentation</b><br/>
					We built an <a href="https://shoebills-in-space.web.app/" target="_blank">interactive 3D star map</a> to see what the night sky and constellations look like from different exoplanets. We ended up being a Global Honorable Mention, meaning we were in the top 60 out of 15,444 teams and 93,520 participants, at the world's largest global hackathon!
				</li>
				<br/>
				<li>
					<a href="https://github.com/MaxMaeder/BadgerVision" target="_blank">Hack Midwest 2024</a>, <b>Pinata Enterprise Challenge Winner</b><br/>
					We built a mobile app that puts names and emotions to faces. Definitely our most technically-involved solution — the team slept for 1 hour in a 24 hour period.
				</li>
				<br/>
				<li>
					<a href="https://www.spaceappschallenge.org/2023/find-a-team/the-intergalactic-programming-federation/?tab=project" target="_blank">NASA SpaceApps Chicago 2023</a>, <b>Global Nominee & Local Best Presentation</b><br/>
					We built a space sonification webapp, transforming star data into sounds using computer vision. Lots of data wrangling for this one.
				</li>
				<br/>
				<li>
					<a href="https://devpost.com/software/open-accessibility-aei3xm" target="_blank">MadHacks 2023</a>, <b>1st Place</b><br/>
					We built a visual accessibility Chrome extension. We were a team of three and we won four 55" TVs. We lived in the dorms freshman year, so we had no idea where to put them!
				</li>
				<br/>
				<li>
					<a href="https://devpost.com/software/mvhs-clubsnow" target="_blank">MVHacks 4.5</a>, <b>Best Beginner Hack</b><br/>
					We built a club meeting aggregator website for our high school. Mostly flailing around with HTML and CSS, but we learned a lot!
				</li>
			</ol>
		</div>
		<p class="description">
			Let's chat! Find me on <a href="https://linkedin.com/in/jkintana" target="_blank">LinkedIn</a> or email me at <a href="mailto:kintana@wisc.edu" target="_blank">kintana@wisc.edu</a>.
		</p>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		color: black;
		margin: 0;
	}
	strong {
		color: rgb(var(--main));
	}
	.profile-flexbox {
		display: flex;
		margin: auto;
	}
	@media (max-width: 850px) {
		.profile-flexbox {
			flex-direction: column;
			align-items: center;
		}
		h1 {
			font-size: 1.75rem;
		}
		.caption {
			padding-top: 10px;
			text-align: center;
		}
	}
	.profile-flexbox > div {
		margin: 5px;
	}
	#profile-photo {
		border-radius: 0.35em;
		box-shadow: 10px;
		height: 190px;
		width: 190px;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
	.caption {
		padding-top: 30px;
		flex-grow: 2;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent1-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		animation: gradientshift 15s ease-in-out;
  	animation-iteration-count: infinite;
	}
	@keyframes gradientshift {
  	from { background-size: 100%; background-position: 0%;}
		50% { background-size: 50%; background-position: -100%; }
  	to { background-size: 100%; background-position: 0%;}
	}
	.description {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px dashed black;
		background-color: rgb(254, 254, 254);
		padding: 1rem;
		border-radius: 0.4rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
	a {
		color: rgb(var(--main));
		transition: 0.6s;
		text-decoration: underline;
		font-weight: bold;
	}
	.description a:is(:hover) {
		text-decoration: none;
	}
	ul {
		list-style: none;
		padding-left: 0px;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 0.5rem;
	}
</style>
