---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="JK">
	<main>
		<h1>Hi! My name is <span class="text-gradient">Jeremy Kintana</span>.</h1>
		<p class="description">
			I'm a highly driven freshman CS student at the <strong>University of
				Wisconsin-Madison</strong>, currently building skills in web development.
				Previously, I interned at <strong>AI Camp</strong>. I created
				historical data reports using Python Pandas and Matplotlib, contributed
				to a codebase that utilized Django and PostgreSQL, and worked in a Scrum
				environment.
		</p>
		<p class="description">
			Currently, I'm an active member of the <strong>Data Science for Sustainable
				Development Club</strong> and the <strong>Effective Altruism club</strong>.
				I'm passionate about educational learning theory, programming, and anything
				science fiction or philosophy.
		</p>
		<p class="description">
			Let's get connected! Email me at <a href="mailto:kintana@wisc.edu">
				kintana@wisc.edu</a> or message me on <a href="https://linkedin.com/in/jkintana">LinkedIn</a>.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/jkintana/personal-website/"
				title="Source Code"
				body="This website is an active project! View it here."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		color: white;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.description {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.description code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.description strong {
		color: rgb(var(--accent));
	}
	.description a {
		color:black;
	}
	.description a:is(:hover) {
		transition: color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
