---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import { Image } from '@astrojs/image/components';

---

<Layout title="JK">
	<main>
		<div class="profile-flexbox">
			<Image
				id='profile-photo'
				src='/assets/Headshot.png'
				alt='Headshot of a college student'
				width='190'
				height='190'
				format='png'
				quality={100}
			/>
			<div class="caption">
				<h1>Hi! I'm <span class="text-gradient">Jeremy Kintana</span>.</h1>
				<p>
					I'm an undergrad at the <strong>University of Wisconsin-Madison</strong>.
				</p>
			</div>
		</div>
		<p class="description">
			At UW, I'm an active member of the <strong>Data Science for Sustainable
				Development Club</strong> and the <strong>Effective Altruism Club</strong>.
				Currently fascinated by educational learning theory, programming, and philosophy.
		</p>
		<div class="description">
			At the moment, I'm concerned with two questions:
			<br/>
			<ul>
				<li>
					1. How can I <a href="https://80000hours.org/key-ideas/">do the most good</a> in my lifetime?
				</li>
				<li>
					2. What is <a href="https://icanstudy.com/">the most effective way to learn</a> new things?
				</li>
			</ul>
		</div>
		<p class="description">
			Want to get in touch? Email me at <a href="mailto:kintana@wisc.edu">
				kintana@wisc.edu</a> or message me on <a href="https://linkedin.com/in/jkintana">LinkedIn</a>.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/jkintana/personal-website/"
				title="Source Code"
				body="This website is an active project! Check out my progress here."
			/>
			<Card
				href="./assets/Resume.pdf"
				target="_blank"
				title="Resumé"
				body="If you're a recruiter (or just curious!), my resumé is one click away."
			/>
			<!-- <Card
				href="./blog/"
				title="Blog"
				body="This blog populates based on entries from my CMS! Currently just testing."
			/> -->
			<Card
				href="https://calendly.com/jkintana/30min"
				target="_blank"
				title="Let's Talk"
				body="Want to meet up? Let me know through this Calendly link."
			/>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		color: black;
		margin: 0;
	}
	strong {
		color: rgb(var(--main));
	}
	.profile-flexbox {
		display: flex;
		margin: auto;
	}
	@media (max-width: 850px) {
		.profile-flexbox {
			flex-direction: column;
			align-items: center;
		}
		h1 {
			font-size: 1.75rem;
		}
		.caption {
			padding-top: 10px;
			text-align: center;
		}
	}
	.profile-flexbox > div {
		margin: 5px;
	}
	#profile-photo {
		border-radius: 0.35em;
		box-shadow: 10px;
		height: 190px;
		width: 190px;
	}
	.caption {
		padding-top: 30px;
		flex-grow: 2;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent1-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		animation: gradientshift 15s ease-in-out;
  	animation-iteration-count: infinite;
	}
	@keyframes gradientshift {
  	from { background-size: 100%; background-position: 0%;}
		50% { background-size: 50%; background-position: -100%; }
  	to { background-size: 100%; background-position: 0%;}
	}
	.description {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--main), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
	.description code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--main), 12%);
		color: rgb(var(--main));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	a {
		color: rgb(var(--main));
		transition: 0.6s;
		text-decoration: underline;
		font-weight: bold;
	}
	.description a:is(:hover) {
		text-decoration: none;
	}
	ul {
		list-style: none;
		padding-left: 0px;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 0.5rem;
	}
</style>
