---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="JK">
	<main>
		<div class="profile-grid">
			<div class="photo">
				<iframe
					src="assets/Headshot.jpeg"
					width="190px"
					height="190px"
					id="profile-photo"
				></iframe>
			</div>
			<div class="caption">
				<h1>Hi! I'm <span class="text-gradient">Jeremy Kintana</span>.</h1>
				<p>
					I'm a highly driven CS student at the <strong>University of Wisconsin-Madison</strong>.
				</p>
			</div>
		</div>
		<p class="description">
			Previously, I interned at <strong>AI Camp</strong>. I created
				historical data reports using Python Pandas and Matplotlib, contributed
				to a codebase that utilized Django and PostgreSQL, and worked in a Scrum
				environment.
		</p>
		<p class="description">
			Currently, I'm an active member of the <strong>Data Science for Sustainable
				Development Club</strong> and the <strong>Effective Altruism Club</strong>.
				I'm passionate about educational learning theory, programming, and anything
				science fiction or philosophy.
		</p>
		<p class="description">
			Let's get connected! Email me at <a href="mailto:kintana@wisc.edu">
				kintana@wisc.edu</a> or message me on <a href="https://linkedin.com/in/jkintana">LinkedIn</a>.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/jkintana/personal-website/"
				title="Source Code"
				body="This website is an active project! View it on my GitHub."
			/>
			<Card
				href="assets/Resume.pdf"
				title="Resumé"
				body="If you're a recruiter (or just curious!), my resumé is one click away."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		color: black;
		margin: 0;
	}
	strong {
		color: rgb(var(--main));
	}
	.profile-grid {
		display: flex;
		margin: auto;
		/* max-width: 80ch; */
	}
	.profile-grid > div {
		margin: 5px;
	}
	#profile-photo {
		border-radius: 0.35em;
	}
	.caption {
		padding-top: 30px;
	}
	.text-gradient {
		background-image: var(--accent1-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.description {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--main), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
	.description code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--main), 12%);
		color: rgb(var(--main));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.description a {
		color:black;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.description a:is(:hover) {
		color: rgb(var(--main));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 0.5rem;
		padding: 0;
	}
</style>
