---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { getBlogPosts } from "../../archive/util/contentful";

const posts = await getBlogPosts();
---

<Layout title="JK | Blog">
  <main>
    <ul class="link-card-grid">
      {posts.map((post) => (
        <Card
          href={'/blog/' + post.slug || './'}
          title={post.title || 'Error: Title Not Found'}
          body={post.description || 'Error: Description Not Found'}
        />
      ))}
    </ul>
  </main>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 24rem;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 0.5rem;
  }

  #password {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid red;
  }

  #submit {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid red;
  }

  #submit:hover {
    background-color: red;
    color: white;
  }

  ul {
    /* visibility: hidden; */
    list-style: none;
    padding-left: 0px;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 0.5rem;
  }
</style>
