body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-image: url("../public/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: #ffcc00;
  margin: 0;
}

h1 {
  text-align: center;
}

/*  

  COMPONENTS 

*/

.navbarComponent {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;

  display: flex;
  justify-content: center;
}

.navbarComponent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbarComponent li {
  float: left;
}

.navbarComponent li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5%;
  transition: 0.25s;
}

.navbarComponent li a:hover {
  font-weight: bolder;
  font-size: larger;
  transition: 0.25s;
}

/* 

  PAGES 

*/

.homePage {
  padding-top: 30px;
  text-align: center;
}

.homePage h3 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.errorPage iframe {
  display: block;
  border: none;
  height: 100vh;
  width: 100vw;
}