body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-image: url("../public/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: #ffcc00;
}

h1 {
  text-align: center;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;

  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5%;
  transition: 0.5s;
}

li a:hover {
  font-weight: bolder;
  font-size: larger;
  transition: 0.5s;
}

.profile {
  padding-top: 30px;
  text-align: center;
}

.profile h3 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}