---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--main: 255, 100, 0;
		--accent1: 255, 204, 0;
		--accent2: 86, 22, 138;
		--accent1-gradient: linear-gradient(135deg, rgba(var(--main)), 20%, rgba(var(--accent1)));
		--accent2-gradient: linear-gradient(235deg, rgba(var(--accent2)), 80%, rgba(var(--accent3)));
	}
	html {
		font-family: system-ui, sans-serif;
		/* background-color: rgba(var(--accent2)); */
		/* background-image: var(--accent2-gradient); */
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
