---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--main: 255, 100, 0;
		--accent1: 255, 175, 0;
		--accent2: 86, 22, 138;
		--accent1-gradient: linear-gradient(135deg, rgba(var(--main)), 20%, rgba(var(--accent1)));
		--accent1-gradient-negative: linear-gradient(135deg, rgba(var(--accent1)), 20%, rgba(var(--main)));

		--square-size: 15px;
		--square-gap: 5px;
		--week-width: calc(var(--square-size) + var(--square-gap));
	}
	html {
		font-family: system-ui, sans-serif;
		margin: auto;
		padding: 2rem;
		max-width: 80ch;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
